<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author, viewport" content="Peter G. Morales, width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="This is the 'Portfolio Prep' Assignment for Code Fellows 301 Prework">
    <title>Portfolio Prep: Peter G. Morales</title>
    <!-- <link rel="stylesheet" href="styles/reset.css"> -->
    <link rel="stylesheet" href="../styles/styles_01.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Code+Pro&display=swap"
        rel="stylesheet">
</head>

<body>

    <header>

    </header>

    <main>

        <h1>
            Silicone Alley Dev
        </h1>

        <figure>
            <img class="profile_picture" src="../images/peter_morales_github_profile.jpeg" alt="Mug shot">
            <figcaption>
                Peter G. Morales, in Sepiatone
            </figcaption>
        </figure>

        <img class="simon_says_01" src="../images/simon_says/simon_says_01.png" alt="simon_says_01">

        <img class="simon_says_02" src="../images/simon_says/simon_says_02.png" alt="simon_says_02">

    </main>

    <footer>
        <p>© Copyright 2023 by AnIdealogue, LLC. All rights reversed.</p>
    </footer>

</body>

</html>